/* для вертикального відображення (кнопка зверху потім таблицю) */
div.flex_vertical {
    display: flex;
    flex-direction: column;
}

div.flex_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

div.flex_end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  visibility: hidden;
  margin-bottom: 5px;
}

.margin_for_row {
  margin: 0 5px;
}


.warning {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
