/* для вертикального відображення (кнопка зверху потім таблицю) */
div.flex_vertical {
    display: flex;
    flex-direction: column;
}

div.flex_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

div.flex_end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  visibility: hidden;
  margin-bottom: 5px;
}

.margin_for_row {
  margin: 0 5px;
}


@-moz-keyframes wobblebar-loader {
  0% {
    left: 4%;
  }
  3% {
    left: 90%;
  }
  6% {
    left: 4%;
  }
  9% {
    left: 90%;
  }
  12% {
    left: 4%;
  }
  15% {
    left: 90%;
  }
  18% {
    left: 32%;
  }
  27% {
    left: 32%;
  }
  30% {
    left: 90%;
  }
  33% {
    left: 4%;
  }
  36% {
    left: 90%;
  }
  39% {
    left: 4%;
  }
  42% {
    left: 90%;
  }
  45% {
    left: 4%;
  }
  48% {
    left: 90%;
  }
  51% {
    left: 52%;
  }
  63% {
    left: 52%;
  }
  66% {
    left: 4%;
  }
  69% {
    left: 90%;
  }
  72% {
    left: 4%;
  }
  75% {
    left: 90%;
  }
  78% {
    left: 4%;
  }
  81% {
    left: 90%;
  }
  84% {
    left: 72%;
  }
  94% {
    left: 72%;
  }
  97% {
    left: 90%;
  }
}

@-webkit-keyframes wobblebar-loader {
  0% {
    left: 4%;
  }
  3% {
    left: 90%;
  }
  6% {
    left: 4%;
  }
  9% {
    left: 90%;
  }
  12% {
    left: 4%;
  }
  15% {
    left: 90%;
  }
  18% {
    left: 32%;
  }
  27% {
    left: 32%;
  }
  30% {
    left: 90%;
  }
  33% {
    left: 4%;
  }
  36% {
    left: 90%;
  }
  39% {
    left: 4%;
  }
  42% {
    left: 90%;
  }
  45% {
    left: 4%;
  }
  48% {
    left: 90%;
  }
  51% {
    left: 52%;
  }
  63% {
    left: 52%;
  }
  66% {
    left: 4%;
  }
  69% {
    left: 90%;
  }
  72% {
    left: 4%;
  }
  75% {
    left: 90%;
  }
  78% {
    left: 4%;
  }
  81% {
    left: 90%;
  }
  84% {
    left: 72%;
  }
  94% {
    left: 72%;
  }
  97% {
    left: 90%;
  }
}

@keyframes wobblebar-loader {
  0% {
    left: 4%;
  }
  3% {
    left: 90%;
  }
  6% {
    left: 4%;
  }
  9% {
    left: 90%;
  }
  12% {
    left: 4%;
  }
  15% {
    left: 90%;
  }
  18% {
    left: 32%;
  }
  27% {
    left: 32%;
  }
  30% {
    left: 90%;
  }
  33% {
    left: 4%;
  }
  36% {
    left: 90%;
  }
  39% {
    left: 4%;
  }
  42% {
    left: 90%;
  }
  45% {
    left: 4%;
  }
  48% {
    left: 90%;
  }
  51% {
    left: 52%;
  }
  63% {
    left: 52%;
  }
  66% {
    left: 4%;
  }
  69% {
    left: 90%;
  }
  72% {
    left: 4%;
  }
  75% {
    left: 90%;
  }
  78% {
    left: 4%;
  }
  81% {
    left: 90%;
  }
  84% {
    left: 72%;
  }
  94% {
    left: 72%;
  }
  97% {
    left: 90%;
  }
}
/* :not(:required) hides this rule from IE9 and below */
.wobblebar-loader:not(:required) {
  visibility: hidden;
  background: #a9d;
  -moz-border-radius: 10.66667px;
  -webkit-border-radius: 10.66667px;
  border-radius: 10.66667px;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 75%;
  height: 21.33333px;
  position: relative;
}
.wobblebar-loader:not(:required)::after {
  -moz-animation: wobblebar-loader 15000ms infinite ease;
  -webkit-animation: wobblebar-loader 15000ms infinite ease;
  animation: wobblebar-loader 15000ms infinite ease;
  background: white;
  display: block;
  -moz-border-radius: 7.11111px;
  -webkit-border-radius: 7.11111px;
  border-radius: 7.11111px;
  content: '';
  position: absolute;
  top: 3.55556px;
  left: 4px;
  width: 21.33333px;
  height: 14.22222px;
}